streamlit
numpy<2
pillow
pandas
matplotlib
scikit-learn==1.3.2
huggingface_hub>=0.20.3
fpdf2

# TensorFlow + TF-Keras 2.x
tensorflow==2.15.0

# (opsional, tetapi aman di banyak host)
tf-keras==2.15.0
